<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :heading1 %><br>
    <%= f.text_field :heading1, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body1 %><br>
    <%= f.text_area :body1, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :heading2 %><br>
    <%= f.text_field :heading2, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body2 %><br>
    <%= f.text_area :body2, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :information %><br>
    <%= f.text_area :information, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>
<% end %>