<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <p id="notice"><%= notice %></p>

      </br>
      </br>
      <h1>
        <%= @service.title %>
      </h1>

      <hr>

      <h2>
        <%= @service.heading1 %>
      </h2>

      <p>
        <%= @service.body1 %>
      </p>

      <h2>
        <%= @service.heading2 %>
      </h2>

      <p>
        <%= @service.body2 %>
      </p>

      <p>
        <%= @service.information %>
      </p>

      <% if current_admin.present? %>
      <%= link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit', edit_service_path(@service) %> |
      <%= link_to 'Back', services_path %>
      <% end %>

  </div>
</div>

