<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @service.service %>
</p>

<p>
  <strong>Heading1:</strong>
  <%= @service.heading1 %>
</p>

<p>
  <strong>Body1:</strong>
  <%= @service.body1 %>
</p>

<p>
  <strong>Heading2:</strong>
  <%= @service.heading2 %>
</p>

<p>
  <strong>Body2:</strong>
  <%= @service.body2 %>
</p>

<p>
  <strong>Information:</strong>
  <%= @service.information %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
