<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :heading1 %><br>
    <%= f.text_field :heading1 %>
  </div>
  <div class="field">
    <%= f.label :body1 %><br>
    <%= f.text_area :body1 %>
  </div>
  <div class="field">
    <%= f.label :heading2 %><br>
    <%= f.text_field :heading2 %>
  </div>
  <div class="field">
    <%= f.label :body2 %><br>
    <%= f.text_area :body2 %>
  </div>
  <div class="field">
    <%= f.label :information %><br>
    <%= f.text_area :information %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
