<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
  </br>
    <p id="notice"><%= notice %></p>

      <h1>
        <%= @area.city %>
      </h1>

      <h2>
        <%= @area.heading1 %>
      </h2>

      <p>
        <%= @area.body1 %>
      </p>

      <h2>
        <%= @area.heading2 %>
      </h2>

      <p>
        <%= @area.body2 %>
      </p>

      <p>
        <%= @area.information %>
      </p>

      <% if current_admin.present? %>
      <p>
        <%= link_to 'Destroy', @area, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Edit', edit_area_path(@area) %> |
        <%= link_to 'New Area', new_area_path %>
      </p>
      <% end %>

    </br>
    </br>
  </div>
</div>
