<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @area.city %>
</p>

<p>
  <strong>Heading1:</strong>
  <%= @area.heading1 %>
</p>

<p>
  <strong>Body1:</strong>
  <%= @area.body1 %>
</p>

<p>
  <strong>Heading2:</strong>
  <%= @area.heading2 %>
</p>

<p>
  <strong>Body2:</strong>
  <%= @area.body2 %>
</p>

<p>
  <strong>Information:</strong>
  <%= @area.information %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
